/** Add css rules here for your application. */
	/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

.center {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

.GL0PBETBID {
	padding:0px !important; 
	margin:0px !important;
	text-align:center !important;
	border:0px none !important;
	}	

.GL0BETBEC {
	padding:0px !important; 
	margin:0px !important;
	text-align:center !important;
	border:0px none !important;
	}
		
.GL0PBETBED {
	padding:0px !important; 
	margin:0px !important;
	text-align:center !important;
	border:0px none !important;
	}	

.GL0PBETBDC {
	padding:0px !important; 
	margin:0px !important;
	text-align:center !important;
	width:100px !important;
	min-width: 100px !important;
	border:0px none !important;
	}
		
.GL0PBETBFC {
	padding:0px !important; 
	margin:0px !important;
	text-align:center !important;
	width:100px !important;
	min-width: 100px !important;
	border:0px none !important;
	}
		
.GL0PBETBGC {
	padding:0px !important; 
	margin:0px !important;
	text-align:center !important;
	width:100px !important;
	min-width: 100px !important;
	border:0px none !important;
	}
		
.GL0PBETBMC {
	padding:0px !important; 
	margin:0px !important;
	text-align:center !important;
	width:100px !important;
	min-width: 100px !important;
	border:0px none !important;
	}
		
.GL0PBETBAD {
	padding:0px !important; 
	margin:0px !important;
	text-align:center !important;
	width:100px !important;
	min-width: 100px !important;
	border:0px none !important;
	}

/* -- Header -- */
.GL0PBETBKC {
	padding:0px !important; 
	margin:0px !important;
	text-align:center !important;
	width:100px !important;
	min-width: 100px !important;
/*	border:0px none !important;*/
	}	

.GL0PBETBIC {
	padding:0px !important; 
	margin:0px !important;
	text-align:center !important;
	width:100px !important;
	min-width: 100px !important;
/*	border:0px none !important;*/
	}	

.GL0PBETBCD {
	padding:0px !important; 
	margin:0px !important;
	text-align:center !important;
	width:100px !important;
	min-width: 100px !important;
/*	border:0px none !important;*/
	}	

.headerTable {
	table-layout:fixed;
	padding:0px;
	margin:0px;
	width:100%;
}

.generalHeaderCell {
	padding:0px;
	margin:0px;
	text-align:center;
	width:100px;
}

.factTypeHeaderCell {
	padding:0px;
	margin:0px;
	text-align:center;
	border-bottom: 1px solid;
	width:100px;
}
