/** Add css rules here for your application. */
	/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

.center {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

.GL0PBETBKC {
	padding:0px !important; 
	text-align:center;
	width:100px;
}

.GL0PBETBEC {
	padding:0px !important; 
	text-align:center;
	width:100px;
}

.GL0PBETBED {
	padding:0px !important; 
	text-align:center;
	width:100px;
}

.GL0PBETBDC {
	padding:0px !important; 
	text-align:center;
	width:100px;
}

.GL0PBETBID {
	table-layout:fixed !important;
}		

.headerTable {
	table-layout:fixed;
	padding:0px;
	margin:0px;
	width:100%;
}

.generalHeaderCell {
	padding:0px;
	margin:0px;
	text-align:center;
	width:100px;
}

.factTypeHeaderCell {
	padding:0px;
	margin:0px;
	text-align:center;
	border-bottom: 1px solid;
	width:100px;
}
