@CHARSET "UTF-8";

/* CellTable body */

@def rowHeight 32px;

.cellTable {
	cursor: default;
	table-layout: fixed;
	padding: 0px;
	margin: 0px;
}
		
.cellTableCell {
	padding: 0px;
	margin: 0px;
	width:100px;
	text-align: center;
	outline:none;
}

.cellTableEvenRow {
	background: #c0c0c0;
}

.cellTableOddRow {
	background: #f0f0f0;
}

/* Header */

.headerTable {
	table-layout: fixed;
	padding: 0px;
	margin: 0px;
}

.headerRow {
	height: 24px;
	color: #4B4A4A;
	text-align: left;
	text-shadow: 1px 1px 0 #DDDDFF;
	cursor: default;
}

.headerCellPrimary {
	width: 100px;
	font-size: 8pt;
	text-align: center;
	border-bottom: 2px solid grey;
}

.headerCellSecondary {
	width: 100px;
	font-size: 8pt;
	text-align: center;
	border-bottom: 1px solid grey;
}

.headerContainer {
	width: 100px;
}

.headerText {
	display: inline;
	margin-left: 5px;
}

.headerWidget {
	display: inline;
	margin-left: 5px;
}