@CHARSET "UTF-8";

/* CellTable body */
@def rowHeight 32px;
@def rowHeaderHeight 24px;
@def spacerHeight 48px;
@def spacerWidth 32px;
	
.cellTable {
	cursor: default;
	table-layout: fixed;
	padding: 0px;
	margin: 0px;
}

.cellTableCell {
	padding: 0px;
	margin: 0px;
	text-align: center;
	outline: none;
	border-bottom: 1px dashed grey;
}

.cellTableCellDiv {
	width: 100px;
}

.cellTableEvenRow {
	background: #c0c0c0;
}

.cellTableOddRow {
	background: #f0f0f0;
}

/* Header */
.headerTable {
	table-layout: fixed;
	padding: 0px;
	margin: 0px;
}

.headerRow {
	height: rowHeaderHeight;
	color: #4B4A4A;
	text-align: left;
	text-shadow: 1px 1px 0 #DDDDFF;
	cursor: default;
}

.headerCellPrimary {
	width: 100px;
	font-size: 8pt;
	text-align: center;
	border-bottom: 2px solid grey;
}

.headerCellSecondary {
	width: 100px;
	font-size: 8pt;
	text-align: center;
	border-bottom: 1px solid grey;
}

.headerContainer {
	width: 100px;
}

.headerText {
	display: inline;
	margin-left: 5px;
}

.headerWidget {
	display: inline;
	margin-left: 5px;
}

.spacer {
	width: spacerWidth;
	height: spacerHeight;
	border-bottom: 2px solid grey;
	border-right: 1px solid grey;
}

.selectorAddCell {
	width: spacerWidth;
	text-align: center;
	border-bottom: 1px dashed grey;
}

.selectorDeleteCell {
	width: spacerWidth;
	text-align: center;
	border-right: 1px solid grey;
	border-bottom: 1px dashed grey;
}

.selectorControl {
	display: inline;
}

.selectorAddImage {
	background-image: url("/selectorAdd.png");
	background-repeat: no-repeat;
	background-position: center;
	cursor: default;
}

.selectorAddImage:HOVER {
	background-image: url("/selectorAddHover.png");
	background-repeat: no-repeat;
	background-position: center;
	cursor: default;
}

.selectorDeleteImage {
	background-image: url("/selectorDelete.png");
	background-repeat: no-repeat;
	background-position: center;
	cursor: default;
}

.selectorDeleteImage:HOVER {
	background-image: url("/selectorDeleteHover.png");
	background-repeat: no-repeat;
	background-position: center;
	cursor: default;
}